# User Input

In [1]:
x = 210
print(x)

210

In [7]:
a = input("Enter what you want: ")
print(a)

Enter what you want: 55
55

In [5]:
a = input('Enter a value: ') # always returns string
print('The given value is ' +a)
print(type(a))

Enter a value: 100
The given value is 100
<class 'str'>

In [6]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The result is', a+100)
print(type(a))

Enter a number: 10
The result is 110
<class 'int'>

In [8]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2024-int(a)) + ' years old')
    print(2023-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:1998
You are 26 years old
25

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [9]:
# indent
i = 2
if i <5: # () not required, {} not required
  print('okay')
  print('fine')
else:
  print('bad')
print('not okay') # will be executed in each run

okay
fine
not okay

In [10]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
  print('More')

Please enter an integer: 55
More

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [11]:
# code here
course_mark = float(input("Enter the course mark (0-100): "))
if 90 <= course_mark <= 100:
    grade = "A+"
elif 85 <= course_mark < 90:
    grade = "A"
elif 80 <= course_mark < 85:
    grade = "B+"
elif 75 <= course_mark < 80:
    grade = "B"
elif 70 <= course_mark < 75:
    grade = "C+"
elif 65 <= course_mark < 10:
    grade = "C"
elif 60 <= course_mark < 65:
    grade = "D+"
elif 50 <= course_mark < 60:
    grade = "D"
elif 0 <= course_mark < 50:
    grade = "F"
else:
     grade = "Invalid input, please enter a mark between 0 to 100"
print(f"The grade for the course mark {course_mark} is: {grade}")

Enter the course mark (0-100): 95
The grade for the course mark 95.0 is: A+

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [12]:
# Measure some strings:
words = ['cat', 'window', 'dhaka','ctg']

for w in words:
    print('the word is:',w)

the word is: cat
the word is: window
the word is: dhaka
the word is: ctg

In [13]:
words = ['cat', 'window', 'dhaka','ctg']
for i in range(len(words)):
    print('The word is:',words[i])

The word is: cat
The word is: window
The word is: dhaka
The word is: ctg

In [14]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
numbers = [1, 56, 78, 8,7]

for n in numbers:
    print(n+10)

11
66
88
18
17

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [17]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [18]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [19]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [20]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [21]:
list(range(-10, -101, -30))

[-10, -40, -70, -100]

In [22]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8
4 7

In [23]:
for i in range(2,100,10):
    print(i,end=',')

2,12,22,32,42,52,62,72,82,92,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [24]:
# code here
for num in range (0, 101, 2):
    print(num, end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [25]:
country = "bangladesh"
for c in country:
    print(c,end=' ')

b a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [26]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [27]:
operate(90,5)

90 + 5 = 95
90 - 5 = 85
90 x 5 = 450
90 / 5 = 18.0

In [28]:
operate(5,2)

5 + 2 = 7
5 - 2 = 3
5 x 2 = 10
5 / 2 = 2.5

In [29]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        #print()
    return lst

In [30]:
# Now call the function we just defined:
r = fib(1000)
print(r)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [31]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [32]:
addnumbers([2],[33])

[2, 33]

In [33]:
y = addnumbers('8ppp', '9') # use or call method
print(y)

8ppp9

In [34]:
addnumbers([33,77], [66])

[33, 77, 66]

In [35]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum+ n
    return sum

In [37]:
addValues([10])

10

In [38]:
v = [5, 4,12, 7]
addValues(v)

28

In [39]:
# prompt:

def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

operate(90,5)
operate(5,2)

90 + 5 = 95
90 - 5 = 85
90 x 5 = 450
90 / 5 = 18.0
5 + 2 = 7
5 - 2 = 3
5 x 2 = 10
5 / 2 = 2.5

In [40]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [41]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [42]:
multiTable(8)

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

In [43]:
multiTable(15)

15x1=15
15x2=30
15x3=45
15x4=60
15x5=75
15x6=90
15x7=105
15x8=120
15x9=135
15x10=150

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [44]:
# code here
def add_lists(list1, list2):
    if len(list1) != len(list2):
        raise ValueError("Lists must have the same length")
    result = [x + y for x, y in zip(list1, list2)]
    return result
# Example usage:
list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]

result_list = add_lists(list1, list2)
print("Input lists:", list1, "and", list2)
print("Output list:", result_list)

Input lists: [3, 4, 5, 1] and [6, 7, 2, 8]
Output list: [9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [45]:
# code here
def split_name(full_name):
    # Split the full name into a list of words
    name_parts = full_name.split()

    # Check if there are at least two parts (first name and last name)
    if len(name_parts) < 2:
        raise ValueError("Full name must contain both first and last names")

    # Extract the first and last names
    first_name = name_parts[0]
    last_name = ' '.join(name_parts[1:])
    return f"First name: {first_name}, Last name: {last_name}"

# Example usage:
full_name = "Arafat Rahman Sunny"
result = split_name(full_name)
print(result)

First name: Arafat, Last name: Rahman Sunny